body {
    color: color(typography, 5);
    background-color: color(bg, 1);
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    @include font-family(primary);

}
.container {
    @media(min-width: 1350px) {
        max-width: 1250px;
    }
}


.btn-wrap {
    margin-top: 25px;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        li {
            padding-left: 5px;
            padding-right: 5px;
            &:before {
                display: none;
            }
            a {
                min-width: 200px;
            }
        }
    }
}

small {
    font-size: 14px;
}

b,
strong {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

ul.list-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li {
        display: inline-block;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-center {
        margin-left: auto;
        margin-right: auto;
    }
    &.full-width {
        width: 100%
    }
}



a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}


.btn {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

a:hover {
    &::before,
    &::after {
        text-decoration: none;
    }
}

a {
    &:focus {
        outline: none;
    }
}

.btn {
    &:focus {
        outline: none;
    }
}

.btn {
    &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        color: inherit;
    }
}

p {
    margin: 0 0 1rem 0;
    &:empty {
        display: none;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.screen-reader-text {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family(secondary);
}
h3 {
    color: color(typography, 10);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.24;
    @media(max-width: 991px) {
        font-size: 35px;
    }

}

.site-content {
    overflow-x: hidden;
}
.row {
    &.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    .aligncenter {
        float: none;
        margin: 0 auto 20px;
    }

    .alignright {
        float: right;
        margin: 0 0 20px 20px;
    }

    .alignleft {
        float: left;
        margin: 0 20px 20px 0;
    }
}
