.section {
    &-article {
        padding-bottom: 70px;
        padding-top: 92px;
        .articleWrap {
            margin-top: 72px;
            .article-wrap {
                padding-bottom: 32px;
                border-bottom: 1px solid rgba(color(bg, 12), .1);
                margin-bottom: 30px;
                .img-wrap {
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: all 0.5s ease-in-out;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
    
                .content {
                    margin-top: 20px;
                    h4 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.5;
                        a {
                            color: color(typography, 10);
                            &:hover {
                                color: color(typography,9);
                            }
                        }
                    }
                    .date {
                        font-size: 14px;
                        color: color(typography, 11);
                        display: block;
                        margin-top: 30px;
                    }
                }
            }
        }
        
    }
}