body.menu-open {
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  color: color(typography, 3);
}

.slick {
  &-slide {
    &:focus {
      outline: none;
    }
  }

  &-prev {
    @include breakpoint(bp-xl) {
      left: -40px;
    }

    &:before {
      content: "\f100";
    }
  }

  &-next {
    @include breakpoint(bp-xl) {
      right: -40px;
    }

    &:before {
      content: "\f101";
    }
  }

  &-prev,
  &-next {
    height: 60px;
    width: 60px;
    line-height: 60px;
    z-index: 10;
    border: 3px solid rgba(color(typography, 9), .2);
    border-radius: 50%;
    &:hover {
      border: 3px solid rgba(color(typography, 9), .7);
    }
    &:before,
    &:after {
      line-height: 55px;
      color: color(typography, 9);
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:before {
      background-image: url('../images/slick-prev.svg');
    }
    
  }
  &-next {
    &:before {
      background-image: url('../images/slick-next.svg');
    }
  }
}

.tour-slider  {
  .slick-slider {
    margin-bottom: 0;
  }
  .slick-slide {
    padding:0 10px;

}


  .slick {
    &-dots {
      bottom: 30px;

      li {
        button {
          background-color: color(bg, 1);
          height: 11px;
          width: 11px;
          border-radius: 50px;

          &:hover {
            background-color: color(typography, 5);
          }

          &:before {
            content: "";
            height: 11px;
            width: 11px;
          }
        }

        &.slick-active {
          button {
            background-color: color(typography, 5);
          }
        }
      }
    }
  }
}

.btn {
  font-size: 16px;
  padding: 16px 30px;
  border-radius: 0;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
  min-width: 180px;
  
  &-blue {
    background-color: color(typography, 9);
    color: color(typography, 1);
    border: 1px solid color(typography, 9);
    letter-spacing: 0.04rem;
    &:hover {
      background: color(typography, 1);
      color: color(typography, 9);
    }
  }
  &-white {
    background-color: transparent;
    color: color(typography, 10);
    border: 1px solid color(typography, 10);
    letter-spacing: 0.04rem;
    &:hover {
      background: color(typography, 10);
      color: color(typography, 1);
    }
  }
  &-green {
    background-color: color(typography, 7);
    color: color(typography, 1);
    border: 1px solid color(typography, 7);
    letter-spacing: 0.04rem;
    &:hover {
      background: color(typography, 1);
      border: 1px solid color(typography, 1);
      color: color(typography, 7);
    }
  }


}

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  li {
    margin-bottom: 8px;
  }

  .btn {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.sub-title {
  font-size: 18px;
  display: block;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: color(typography, 9);
  font-weight: 700;
}