.section {
    &-departure {
        color: color(typography, 1);
        padding-bottom: 100px;
        padding-top: 100px;
        background-size: cover;
        background-position: top center;
        .sub-title {
            color: color(typography, 7);
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: color(typography, 1);
        }
        .table-wrap {
            margin-top: 65px;
            .table {
                th, td {
                    vertical-align: middle;
                    border-bottom: 1px solid rgba(color(bg, 1), .2);
                    font-weight: 600;
                }
                thead {
                    th {
                        border-top: none;
                        border-bottom: 2px solid rgba(color(bg, 1), .2);
                    }
                }
                tbody {
                    th, td {
                        font-weight: 400;
                    }
                }
                
                color: color(typography, 1);
                a {
                    &.btn {
                        min-width: 120px;
                        padding: 12px 20px;
                        font-size: 14px;
                    }
                }
            }
        }
        
    }
}