.section {
    &-hero {
        min-height: 750px;
        background-size: cover;
        background-position: center;
        .hero {
            &-wrapper {
                min-height: 750px;
                max-width: 600px;
                display: flex;
                align-items: center;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    height: 750px;
                 }
                 h1 {
                     font-size: 70px;
                     font-weight: 700;
                     color: color(typography, 1);
                     line-height: 1.25;
                     @media(max-width: 991px) {
                         font-size: 45px;
                     }
                 }
                 .btn {
                     margin-top: 30px;
                 }
            }
        }
    }
}