.site-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    .top-nav {
        background-color: color(typography, 10);
        color: color(typography, 1);
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px;

        .container {
            @media(min-width: 1920px) {
                max-width: 1460px;
            }
            @media(max-width: 991px) {
                max-width: 100%;
            }
        }

        &-wrap {
            display: flex;
            flex-wrap: wrap;
            @media(max-width: 1199px) {
                font-size: 13px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-left: -10px;

                li {
                    padding-left: 10px;
                    padding-right: 10px;

                    &:not(:last-child) {
                        border-right: 1px solid rgba(color(bg, 1), .2);
                    }

                    a {
                        color: color(typography, 1);
                    }
                }

                &.nav {
                    &-left {
                        @media(min-width: 1350px) {
                            margin-left: 185px;
                        }
                        @media(max-width: 991px) {
                            display: none;
                        }
                    }

                    &-right {
                        margin-left: auto;
                        @media(max-width: 991px) {
                            justify-content: space-between;
                            margin-left: 0;
                            margin-right: 0;
                            max-width: 100%;
                            flex: 0 0 100%;
                            li {
                                padding-left: 0;
                                padding-right: 0;
                                &:not(:last-child) {
                                    border-right: none;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .navbar {
        .navbar-toggler {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            @include transition(.5s ease-in-out);
            cursor: pointer;
            &:focus {
                outline: none;
            }
        
            .navbar-toggle-icon {
                background: color(typography, 1);
                display: block;
                // position: absolute;
                height: 3px;
                width: 100%;
                border-radius: 0;
                opacity: 1;
                left: 0;
                margin-bottom: 6px;
                transform: rotate(0deg);
                @include transition(.25s ease-in-out);
        
                &:nth-child(1) {
                    top: 0px;
                }
        
                &:nth-child(2),
                &:nth-child(3) {
                    top: 10px;
                    top: 8px;
                }
            }
        
            &.on {
                .navbar-toggle-icon {
                    &:nth-child(1) {
                        top: 11px;
                        width: 0%;
                        left: 50%;
                    }
        
                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
        
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        margin-top: -8px;
        
                    }
        
                }
            }
        }
        
        background-color: rgba(color(bg, 3), .6);
        padding: 0;

        .container {
            @media(min-width: 1920px) {
                max-width: 1460px;
            }
            @media(max-width: 1199.98px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media(max-width: 991px) {
                max-width: 100%;
            }
        }

        &-brand {
            background-color: color(bg, 1);
            padding: 0;
            max-width: 160px;

            @media(min-width: 1350px) {
                background-color: transparent;
                margin-right: 2.2rem;
                margin-top: -40px;
            }
        }

        &-nav {
            li {
                a {
                    color: color(typography, 1);
                    font-size: 14px;
                }
                .sub-menu,
                .dropdown-menu {
                    border-radius: 0;
                    padding: 0;
                    border: none;
                    li {
                        a {
                            color: color(typography, 5);
                            display: block;
                            padding: 8px 20px;
                            &:hover {
                                color: color(typography,9);
                            }
                        }
                        &:not(:last-child) {
                            border-bottom: 1px dotted rgba(color(typography,5), .3);
                        }
                    }
                }
            }

            >li {
                &:not(:last-child) {
                    margin-right: 34px;
                }
            }

        }
    }
}