.section {
    &-testimonial {
        background-color: color(bg, 1);
        @media(min-width: 992px) {
            padding-bottom: 100px;
        }
        .container {
            max-width: 100%;
            padding-right: 0;
        }
        .testimonial {
            .slick-slide {
                opacity: .5;
                &.slick-active {
                    opacity: 1;
                }
            }
            .slick-list {
                padding-left: 0 !important;
            }
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            position: relative;
            z-index: 10;
            @media(min-width: 1200px) {
                margin-left: -85px;
            }
            &-content {
                background-color: color(bg,7);
                color: color(typography, 1);
                min-height: 530px;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 100px 100px 100px 0;
                position: relative;
                @media(max-width: 991px) {
                    min-height: auto;
                    padding: 50px;
                }
                &:before {
                    background-color: color(bg,7);
                    content: '';
                    width: 1000%;
                    left: -1000%;
                    position: absolute;
                    z-index: 100;
                    height: 100%;
                }
                h3 {
                    color: color(typography, 1);
                }
                .testimonial-left {
                    max-width: 350px;
                }
            }
            &-wrapper {
                .left-col {
                    @media(min-width: 1200px) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 35%;
                        flex: 0 0 35%;
                        max-width: 35%;
                    }
                }
                .right-col {
                    @media(min-width: 1200px) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 65%;
                        flex: 0 0 65%;
                        max-width: 65%;
                    }
                    
                }
            }
            &-wrap {
                display: flex;
                flex-wrap: wrap;
                box-shadow: 0px 0px 8px 0px rgba(color(typography, 3), .16);
                .avtarcol {
                    background-color: color(bg, 11);
                    padding: 45px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 100%;
                    flex: 0 0 100%;
                    @media(min-width: 1200px) {
                        max-width: 40%;
                        flex: 0 0 40%;
                    }
                    @media(min-width: 1350px) {
                        max-width: 30%;
                        flex: 0 0 30%;
                    }
                    img {
                        margin: 0 auto 20px;
                    }
                    span {
                        display: block;
                        &.name {
                            color: color(typography, 6);
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                        &.addresh {}
                    }
                }
                .testimonial-info {
                    background-color: color(bg, 1);
                    // min-height: 370px;
                    padding: 55px 40px;
                    font-size: 20px;
                    max-width: 100%;
                    flex: 0 0 100%;
                    @media(min-width: 1200px) {
                        max-width: 60%;
                        flex: 0 0 60%;
                    }
                    @media(min-width: 1350px) {
                        max-width: 70%;
                        flex: 0 0 70%;
                    }
                    h4 {
                        font-size: 30px;
                        font-weight: 600;
                        color: color(typography, 6);
                        @include font-family(primary);
                    }
                    .review-list {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -15px;
                        margin-right: -15px;
                        margin-top: 16px;
                        li {
                            padding-left: 15px;
                            padding-right: 15px;
                            font-size: 16px;
                            margin-bottom: 14px;
                            .ratings {
                                // &:before,
                                // &:after {
                                //     content: '';
                                //     display: table;
                                //     clear: both;
                                // }
                                span {
                                    background-color: color(bg, 1);
                                    float: left;
                                    height: 24px;
                                    width: 24px;
                                    border-radius: 50%;
                                    border: 2px solid color(typography, 12);
                                    padding: 5px;
                                    position: relative;
                                    &:after {
                                        background-color: color(typography, 12);
                                        content: '';
                                        height: 10px;
                                        width: 10px;
                                        border-radius: 50%;
                                        position: absolute;
                                    }
                                }
                            }
                            .review-count {
                                margin-left: 15px;
                            }
                            &:not(:last-child) {
                                border-right: 1px solid rgba(color(typography, 12), .16);
                            }
                        }
                    }
                }
            }
            &-left {
                [class*="slick-arrows-"] {
                    .slick-prev, 
                    .slick-next {
                        border: 3px solid rgba(color(typography,1), .1);
                        &:hover {
                            border: 3px solid rgba(color(typography,1), .7);
                        }
                    }
                    .slick-prev {
                        margin-right: 20px;
                        &:before {
                            background-image: url("../images/slick-prev-white.svg");
                        }
                    }

                    .slick-next {
                        &:before {
                            background-image: url("../images/slick-next-white.svg");
                        }
                    }
                }
                
            }
        }
    }
}