$color: (
	typography: (
		1: #FFFFFF,
		2: #FF0000,
		3: #000000,
		4: #E3141F,
		5: #474747,
		6: #121212,
		7: #8AB61E,
		8: #004D91,
		9: #0089C9,
		10: #242A3A,
		11: #B8B8B8,
		12: #18A581,
		13: #545454,
		14: #999999




	),
	bg: (
		1: #FFFFFF,
		2: #FF0000,
		3: #000000,
		4: #E3141F,
		5: #474747,
		6: #121212,
		7: #8AB61E,
		8: #004D91,
		9: #0089C9,
		10: #242A3A,
		11: #F7F6F0,
		12: #707070,
		

	)
);

$font__family: (
    primary: '"Nunito Sans", sans-serif',
    secondary: '"Playfair Display", serif'
	// secondary: 'Jazmin Alt It', // font-family(heading)
	// base: 'Reader', // font-family(base)
	// cenzo: 'Cenzo Flare', // font-family(code)
    // sofia: 'Sofia Pro' // font-family(pre)
);


$font__weight: (
	light: 300, 	// font__weight(light)
	regular: 400, 	// font__weight(regular)
	medium: 500,	// font__weight(medium)
	semibold: 600,	// font__weight(semi-bold)
	bold: 700		// font__weight(bold)
);










