.section {
    &-welcome {
        background-color: color(bg, 1);
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 80px;
        @media(min-width: 1350px) {
            padding-left: 110px;
            padding-top: 230px;
        }
        .container {
            max-width: 100%;
            .row {
                @media(min-width: 1200px) {
                    align-items: flex-end;
                }
            }
        }

        .image {
            img {
                @media(max-width: 574px) {
                    margin-bottom: 30px;
                }
            }
            .aligncenter {
            }
        
            .alignright {
                @media(min-width:575px) {
                    margin-left: auto;
                }
                &.img-1 {
                    @media(min-width:575px) {
                        margin-bottom: -160px;
                    }
                    
                }
                &.img-3 {
                    @media(min-width:575px) {
                        margin-top: -20px;
                    }
                }
            }
        
            .alignleft {
                margin-right: auto;
            }
        }
        .welcome-content {
            display: flex;
            height: 100%;
            @media(min-width: 1200px) {
                padding-left: 40px;
            }
            h3 {
                margin-bottom: 24px;
            }
        }
    }
}