.section-welcome {
  background-color: color(bg, 1);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 80px; }
  @media (min-width: 1350px) {
    .section-welcome {
      padding-left: 110px;
      padding-top: 230px; } }
  .section-welcome .container {
    max-width: 100%; }
    @media (min-width: 1200px) {
      .section-welcome .container .row {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }
  @media (max-width: 574px) {
    .section-welcome .image img {
      margin-bottom: 30px; } }
  @media (min-width: 575px) {
    .section-welcome .image .alignright {
      margin-left: auto; } }
  @media (min-width: 575px) {
    .section-welcome .image .alignright.img-1 {
      margin-bottom: -160px; } }
  @media (min-width: 575px) {
    .section-welcome .image .alignright.img-3 {
      margin-top: -20px; } }
  .section-welcome .image .alignleft {
    margin-right: auto; }
  .section-welcome .welcome-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    @media (min-width: 1200px) {
      .section-welcome .welcome-content {
        padding-left: 40px; } }
    .section-welcome .welcome-content h3 {
      margin-bottom: 24px; }

/*# sourceMappingURL=welcome.css.map */
